{{#if true}}
<div class="container">
  <div class="row">
    <div class="col s12">
      <label for="nombre">Nombre</label>
        {{input id="nombre" type="text" value=registroEvento.nombre}}
      </div>
  </div>
  <div class="row">
    <div class="col s6">
      <label for="fecha">Fecha</label>
      <!-- <input id="fecha" type="text" class="datepicker"> -->
      {{input id="fecha" type="date" value=registroEvento.fecha}}
    </div>
    <div class="col s6">
      <label for="hr">Hora de Inicio</label>
      <!-- <input id="hr" type="text" class="timepicker"> -->
      {{input id="hr" type="time" value=registroEvento.horaInicio}}
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <select onchange={{action 'selectTipo' value="target.value"}}>
        <option value="" disabled selected>Selecciona el tipo de evento</option>
        <option value="1">Cumplea침os</option>
        <option value="2">Fiesta Infantil</option>
        <option value="3">Reuni칩n Familiar</option>
        <option value="4">Boda</option>
        <option value="5">Bautizo</option>
        <option value="6">Primera Comuni칩n / Confirmaci칩n</option>
        <option value="7">Aniversario</option>
      </select>
      <label>Tipo de evento</label>
    </div>
  </div>

  <div class="row">
    <button class="ui right labeled icon button" {{action 'registraEvento'}}>
      <i class="right arrow icon"></i>
      Siguente Paso
    </button>
  </div>
</div>
{{/if}}

{{#if Paso2}}
<div class="container">
  <div class="row">
    <h1 class="ui horizontal divider header transparent">
      <!-- <i class="tag icon"></i> -->
      Detalles del Evento
    </h1>
    <p class="green-text" style="text-align: center;">Ingresa los detalles de tu evento</p>
  </div>
  <div class="row">
    {{#each registroEvento as |rE|}}
    <p>{{detalles.id}}</p>
      {{form-detalles-evento detalleEvento=rE.registroEvento}}
    {{/each}}
  </div>
  <div class="row">
    <button class="ui right labeled icon button" {{action 'guardaDetalles'}}>
      <i class="right arrow icon"></i>
      Siguente Paso
    </button>
  </div>
</div>
{{/if}}

{{#if Paso3}}
<div class="container">
  <h1 class="ui horizontal divider header transparent">
    <!-- <i class="tag icon"></i> -->
    Confirma
  </h1>
  <p class="green-text" style="text-align: center;">Escoge tu forma de pago y confirma</p>
  {{form-comfirm}}
  <button type="button" name="button"{{action 'save'}}>Guardar</button>
</div>
{{/if}}



<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

</script>
