{{#if Paso1}}
<div class="container">
  <div class="row">
    <div class="col s12">
      <label for="nombre">Nombre</label>
        {{input id="nombre" type="text" value=registroEvento.nombre}}
      </div>
  </div>
  <div class="row">
    <div class="col s6">
      <label for="fecha">Fecha</label>
      <!-- <input id="fecha" type="text" class="datepicker"> -->
      {{input id="fecha" type="date" value=registroEvento.fecha}}
    </div>
    <div class="col s6">
      <label for="hr">Hora de Inicio</label>
      <!-- <input id="hr" type="text" class="timepicker"> -->
      {{input id="hr" type="time" value=registroEvento.horaInicio}}
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <select onchange={{action 'selectTipo' value="target.value"}}>
        <option value="" disabled selected>Selecciona el tipo de evento</option>
        <option value="Cumpleaños">Cumpleaños</option>
        <option value="Fiesta Infantil">Fiesta Infantil</option>
        <option value="Reunión Familiar">Reunión Familiar</option>
        <option value="Boda">Boda</option>
        <option value="Bautizo">Bautizo</option>
        <option value="Primera Comunión / Confirmación">Primera Comunión / Confirmación</option>
        <option value="Aniversario">Aniversario</option>
      </select>
      <label>Tipo de evento</label>
    </div>
  </div>

  <div class="row">
    <button class="ui right labeled icon button" {{action 'registraEvento'}}>
      <i class="right arrow icon"></i>
      Siguente Paso
    </button>
  </div>
</div>
{{/if}}

{{#if Paso2}}
<div class="container">
  <div class="row">
    <h1 class="ui horizontal divider header transparent">
      <!-- <i class="tag icon"></i> -->
      Detalles del Evento
    </h1>
    <p class="green-text" style="text-align: center;">Ingresa los detalles de tu evento</p>
  </div>
  <div class="row">
    {{form-detalles-evento detalleEvento=registroEvento.detalleEvento Paso2=(action 'listoPaso2')}}
  </div>
</div>
{{/if}}

{{#if Paso3}}
<div class="container">
  <h1 class="ui horizontal divider header transparent">
    <!-- <i class="tag icon"></i> -->
    Confirma
  </h1>
  <p class="green-text" style="text-align: center;">Escoge tu forma de pago y confirma</p>
  {{form-comfirm detalleEvento=registroEvento.detalleEvento}}
  <!-- <button type="button" name="button"{{action 'save'}}>Guardar</button> -->
</div>
{{/if}}



<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

</script>
